<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de Armas</title>
    <link rel="stylesheet" href="/static/styles/globals.css" />
</head>
<body>
    <div class="navbar show-menu">
        <div class="header-inner-content "> 
            <h1 class="logo"> LOJA DE <span>ARMAS</span> </h1>
            <nav>
                <ul>
                    <li>HOME</li>
                    <li><a href="{{url_for('products.products')}}">PRODUTOS</a></li>
                    <li><a href="{{ url_for('sobre.sobre') }}">SOBRE</a></li>
                    <li>
                        {% if current_user.is_authenticated %}
                            <a href="{{url_for('AccountStateView.accountstate')}}">CONTA</a>
                        {% else %}
                            <a href="{{url_for('SignupView.register')}}">CRIAR CONTA</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if current_user.is_authenticated and current_user.Staff %}
                        <a href="{{url_for('StaffPanel.staffpanel')}}">STAFF</a>
                        {% else %}
                        {% endif %}
                    </li>
                </ul>
            </nav>
            <div class="nav-icon-container" >
                <img src="/static/images/menu.png" class="menu-button" />
            </div>
         </div>   
    </div>
    <header>
            <div class="header-bottom-side-right">
            </div>
            
    </header>
    <div class=indexbackground>
    </div>
    <main>
        <!-- <div class="gray-background">  -->
        </div>
    </main>

    <script>
        const navbar = document.querySelector (".navbar");
        const menuButton = document.querySelector (".menu-button");

        menuButton.addEventListener("click", () => {
            navbar.classList.toggle("show-menu");

        });
    </script>
</body>
</html>