<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/products.css" />
</head>
<body>
    <div class="container">
        <div class="pagetitle">
            <h1>Daily Products</h1>
        </div>

        <div class="columns">
            <div class="column">
                <div class="title">
                    <h2>Glock-18</h2>
                    <div class="subtitle">
                        <h3>Keep Yourself Safe</h3>
                    </div>
                </div>
                <div class="glock"></div>
            </div>

            <div class="column">
                <div class="title">
                    <h2>9mm Bullets</h2>
                    <div class="subtitle">
                        <h3>Best for Barettas</h3>
                    </div>
                </div>
                <div class="balas"></div>
            </div>

            <div class="column">
                <div class="title">
                    <h2>Barrett M95</h2>
                    <div class="subtitle">
                        <h3>Heavy but Powerful</h3>
                    </div>
                </div>
                <div class="barrette"></div>
            </div>
        </div>
    </div>
</body>
</html>
