<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de Armas</title>
    <link rel="stylesheet" href="/static/styles/globals.css" />
    <link rel="stylesheet" href="/static/styles/tables.css" />

</head>
<body>
    <div class="navbar show-menu">
        <div class="header-inner-content "> 
            <h1 class="logo"> LOJA DE <span>ARMAS</span> </h1>
            <nav>
                <ul>
                    <li>
                        {% if current_user.is_authenticated and current_user.Staff %}
                        <a href="{{url_for('SelectUser.select_user')}}">NOVA VENDA</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if current_user.is_authenticated and current_user.Staff %}
                        <a href="{{url_for('SelectUserTransactions.select_user')}}">FILTRAR POR UTILIZADOR</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if current_user.is_authenticated and current_user.Staff %}
                        <a href="{{url_for('excelgen.generate')}}">GERAR COPIA DE VENDAS</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if current_user.is_authenticated and current_user.Staff %}
                        <a href="{{url_for('StaffPanel.staffpanel')}}">VOLTAR</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if current_user.is_authenticated and current_user.Staff %}
                        <a href="{{url_for('SigninView.logout')}}">LOGOUT</a>
                        {% else %}
                        {% endif %}
                    </li>
                </ul>
            </nav>
            <div class="nav-icon-container" >
                <img src="/static/images/menu.png" class="menu-button" />
            </div>
         </div>   
    </div>

    <table>
        <tr>
            <th>Customer</th>
            <th>FirearmID</th>
            <th>TimeOfPurchase</th>
            <th>PurchaseInvoice</th>
            <th>BackgroundCheckResults</th>
            <th>WaitingPeriodInfo</th>
            <th>AdditionalNotes</th>
            <th>Total</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row.FullName }}</td>
            <td>{{ row.FirearmID }}</td>
            <td>{{ row.TimeOfPurchase }}</td>
            <td>{{ row.PurchaseInvoice }}</td>
            <td>{{ row.BackgroundCheckResults }}</td>
            <td>{{ row.WaitingPeriodInfo }}</td>
            <td>{{ row.AdditionalNotes }}</td>
            <td>{{ row.Total }} €</td>
        </tr>
        {% endfor %}
    </table>
    <script>
        const navbar = document.querySelector (".navbar");
        const menuButton = document.querySelector (".menu-button");

        menuButton.addEventListener("click", () => {
            navbar.classList.toggle("show-menu");

        });
    </script>
</body>
</html>
