<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/sobre.css" />
</head>
<body>
    <div class="pagetitle">
        <h1>Sobre</h1>
    </div>
        <div class="column">
            <div class="title">
                <h2>Trabalho Realizado por</h2>
                <p> Rafael Duarte n.:2021103639 </p>
                <p> João Sousa n.:2020101204 </p>
                <p> Gabriel Ferreira n.:2021101890 </p>
                <p> Disciplina: Base de Dados </p>
            </div>
        </div>
</body>
       